* {
  font-family: Arial, Helvetica, sans-serif;
}

.Footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  border-top: 3px solid #e1354b;
}
