* {
  font-family: Arial, Helvetica, sans-serif;
}

.Header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e1354b;
}

.Header h1 {
  color: #e1354b;
}

.App-logo {
  height: 200px;
  width: 200px;
}
